{
  "project_info": {
    "project_number": "000000000000",
    "project_id": "moona-app-demo",
    "storage_bucket": "moona-app-demo.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:000000000000:android:0000000000000000000000",
        "android_client_info": {
          "package_name": "com.herflow.app.herflow"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "AIzaSyDEMO_REPLACE_WITH_REAL_KEY_FROM_FIREBASE_CONSOLE"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
